{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      "react",
      "jest"
  ],
  "plugins": [
    "react-loadable/babel",
    "syntax-dynamic-import",
    ["import-inspector", {
        "serverSideRequirePath": true
    }]
    ,
    "transform-es2015-modules-commonjs", 
    "transform-object-rest-spread", 
    "transform-class-properties"
  ],
  "env": {
      "test": {
            "presets": ["react"],
            "plugins": [
                ["import-inspector", {
                    "serverSideRequirePath": true
                }]
        ]
      }
  }
}
